.about-container {
  height: 1950px;
  margin-top: -60px;
  align-items: center;
  text-align: center;
  width: 100vw;
  display: block;
}

.top {
  height: 500px;
  background: black;
  align-items: center;
  position: relative;
}

.about {
  text-transform: lowercase;
  margin-top: 40px;
}

.appDez {
  font-size: 18px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.8;
  margin-top: 80px;
}

.webDev {
  color: white;
  padding: 2px;
  text-align: center;
  align-items: center;
  margin-top: 105px;
}

.bottom {
  height: 1350px;
  background: white;
  align-items: center;
  position: relative;
}

.bottombottom {
  height: 100px;
  background: black;
  align-items: center;
  display: flex;
  justify-content: center;
}

.jayName {
  color: black;
  padding: 2px;
  top: 650px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.about-wrapper {
  height: 200px;
  width: 300px;
  position: relative;
  display: inline-block;
}

.about-wrapper .jayPic {
  display: none;
  top: 700px;
  height: 200px;
  width: 300px;
}

.about-wrapper:hover .jayFake {
  display: none;
}

.about-wrapper:hover .jayPic {
  display: inline;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(45deg, #000000, #2f0033, #004252, #00095c);
  border-image-slice: 1;
}

.jayFake {
  height: 200px;
  width: 300px;
  top: 70px;
}

.jayDez {
  font-size: 22px;
  color: black;
  top: 1050px;
  margin-top: 25px;
}

.jaredName {
  margin-top: 60px;
  font-weight: bold;
}

.about-wrapper .jaredPic {
  display: none;
  top: 700px;
  height: 200px;
  width: 300px;
}

.about-wrapper:hover {
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(45deg, #000000, #2f0033, #004252, #00095c);
  border-image-slice: 1;
}

.about-wrapper:hover .jaredFake {
  display: none;
}

.about-wrapper:hover .jaredPic {
  display: inline;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(45deg, #000000, #2f0033, #004252, #00095c);
  border-image-slice: 1;
}

.jaredFake {
  height: 200px;
  width: 300px;
  top: 70px;
}

.jaredDez {
  font-size: 22px;
  color: black;
  top: 1050px;
  margin-top: 25px;
}

.ericName {
  margin-top: 60px;
  font-weight: bold;
}

.about-wrapper .ericPic {
  display: none;
  top: 700px;
  height: 200px;
  width: 300px;
}

.about-wrapper:hover .ericFake {
  display: none;
}

.about-wrapper:hover .ericPic {
  display: inline;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(45deg, #000000, #2f0033, #004252, #00095c);
  border-image-slice: 1;
}

.ericFake {
  height: 200px;
  width: 300px;
  top: 70px;
}

.ericDez {
  font-size: 22px;
  color: black;
  top: 1050px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.copyRight {
  color: white;
  font-size: 15px;
}

.github {
  font-size: 25px;
  top: 325px;
  padding: 5px;
  color: white;
  background: linear-gradient(-45deg, #000000, #2f0033, #004252, #00095c);
  animation: gradient 12s ease infinite;
  border-color: black;
  border-style: ridge;
  border-radius: 20px;
  display: inline;
  margin-top: 40px;
}

.gitlink:hover {
  text-decoration: none;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gitlink {
  color: white;
}
.mediaCredits:hover > a {
  text-decoration: none;
}
.thankYou {
  font-size: 20px;
  margin-top: 60px;
  padding-bottom: 5px;
  font-weight: bold;
}
.mediaCredits {
  color: black;
  margin-top: 5px;
}
.catThanks {
  color: black;
  margin-top: 5px;
}
.videoThanks {
  color: black;
  margin-top: 5px;
}
.synthThanks {
  color: black;
}
.einsteinThanks {
  color: black;
}

@media screen and (max-width: 958px) {
  .appDez {
    font-size: 16px;
    letter-spacing: 1.8px;
    line-height: 2;
    margin-top: 75px;
  }

  .webDev {
    margin-top: 115px;
  }
}

@media screen and (max-width: 853px) {
  .appDez {
    font-size: 15px;
    color: white;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 2.2;
  }
}

@media screen and (max-width: 792px) {
  .appDez {
    font-size: 14px;
    color: white;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 2.4;
  }

  .webDev {
    font-size: 28px;
  }
}

@media screen and (max-width: 731px) {
  .about {
    font-size: 28px;
  }

  .appDez {
    font-size: 12px;
    color: white;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 2.8;
  }

  .webDev {
    font-size: 28px;
    /*margin-top: 70px;*/
  }
}

@media screen and (max-width: 627px) {
  .appDez {
    font-size: 10px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    line-height: 3.3;
  }

  .webDev {
    font-size: 28px;
    /*margin-top: 95px;*/
  }
}

@media screen and (max-width: 524px) {
  .appDez {
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 3.8;
  }

  .webDev {
    font-size: 28px;
    /*margin-top: 98px;*/
  }

  .about {
    font-size: 27px;
  }

  .bottom > p {
    font-size: 18px;
  }

  .bottom > h3 {
    font-size: 23px;
  }
}

@media screen and (max-width: 479px) {
  .appDez {
    font-size: 9px;
    letter-spacing: 0.8px;
    line-height: 3.9;
  }

  .webDev {
    font-size: 25px;
  }

  .about {
    font-size: 25px;
  }
}

@media screen and (max-width: 462px) {
  .appDez {
    font-size: 9px;
    letter-spacing: 0.4px;
    line-height: 4.8;
    margin-top: 60px;
  }

  .webDev {
    font-size: 24px;
    margin-top: 85px;
  }

  .about {
    font-size: 24px;
  }
}

@media screen and (max-width: 429px) {
  .appDez {
    font-size: 8px;
    letter-spacing: 0.2px;
    line-height: 5;
  }

  .webDev {
    font-size: 25px;
    margin-top: 90px;
  }

  .about {
    font-size: 25px;
  }

  .about-wrapper {
    position: relative;
    display: inline-block;
    margin-left: -80px;
    height: 150px;
    width: 225px;
  }

  .about-wrapper:hover {
    position: relative;
    display: inline-block;
    border: none;
  }

  .bottom > p {
    font-size: 18px;
    color: black;
    top: 1050px;
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .bottom > h3 {
    font-size: 22px;
  }

  .jayFake {
    height: 150px;
    width: 225px;
    margin-left: 35px;
  }
  .about-wrapper .jayPic {
    height: 150px;
    width: 225px;
    margin-left: 35px;
  }
  .jaredFake {
    height: 150px;
    width: 225px;
    margin-left: 35px;
  }
  .about-wrapper .jaredPic {
    height: 150px;
    width: 225px;
    margin-left: 35px;
  }
  .ericFake {
    height: 150px;
    width: 225px;
    margin-left: 35px;
  }
  .about-wrapper .ericPic {
    height: 150px;
    width: 225px;
    margin-left: 35px;
  }
}
