/*
body {
  height: 1000px;
   background: rgb(2, 16, 29);
}
*/

.gen-container {
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  text-align: center;
  background: linear-gradient(-45deg, #000000, #2f0033, #004252, #00095c);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.genVideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -999;
  margin-top: -25px;
}

.block-background {
  height: 500px;
  background-color: black;
  color: black;
  z-index: -998;
}
.gen-container > h2 {
  /*color: rgb(223, 6, 6);*/
  color: white;
  margin-bottom: 20px;
  margin-top: 70px;
  /*margin-top: 280px;*/
}

.modSynth {
  height: 475px;
}

.gen-form {
  align-items: center;
  place-content: center;
  text-align: center;
}
DropdownMenu {
  align-items: center;
  place-content: center;
  text-align: center;
}
.dropdown {
  background-color: black;
  align-items: center;
  place-content: center;
  text-align: center;
  margin-right: 20px;
}
.iconColor {
  color: white;
}
.friends {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-content: center;
  display: block;
  font-size: 20px;
  margin: -10px;
  margin-top: 7px;
}

.submission {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  place-content: center;
  justify-content: center;
  color: black;
  background-color: rgb(223, 6, 6);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.genName {
  width: 600px;
}

@media screen and (max-width: 768px) {
  .modSynth {
    height: 400px;
  }

  .genName {
    width: 500px;
    background-color: blue;
  }
}

@media screen and (max-width: 550px) {
  .modSynth {
    height: 300px;
  }

  .genName {
    width: 400px;
  }
}
