input[type="text"] {
  padding: 10px;
  margin: 5px 30px;
  border-radius: 6px;
  border-color: white;
  border-width: 0.13em;
  background-color: transparent;
  box-shadow: 0;
  transition: box-shadow 300ms;
  font-family: sans-serif;
  color: lightgray;
}

input[type="text"]:focus {
  border-color: white;
  box-shadow: 0 0 20px 7px purple;
  outline: white;
  color: white;
}

button {
  background-color: transparent;
  padding: 10px;
  border-radius: 6px;
  border-color: white;
  border-width: 0.13em;
  color: white;
  font-family: sans-serif;
}
